body {
    font-family:'Roboto', sans-serif;
    background-color: black;
    color: white;
    font-size: 30;
    font-size: 6em;
    font-size: 6vw;
}

#caption {
  font-size: 15;
  font-size: 3em;
  font-size: 3vw;
}

#code {
  font-size: 5;
  font-size: 1em;
  font-size: 1vw;
}

a:link
{
   text-decoration: none;
   color: #fff;
}
a:visited
{
   text-decoration: none;
   color: #fff;
}
a:hover
{
   text-decoration: none;
   color: #878787;
}
a:active
{
   text-decoration: none;
   color: #878787;
}
